.page-header
  %h1=t '.title', :default => 'Find local weather'

- model_class = Search
= render partial: "form"
%table#searches.table.table-striped
  %thead
    %tr
      %th{ colspan: 3}
        = t 'Searches'
      %th
    %tr#loader.hidden
      %th{ colspan: 4 }
        = image_tag asset_path("loading.gif")
  %tbody
    - @searches.each do |search|
      = render partial: "search", locals: { search: search }