%h1 About
%p
  This site searches current weather for your city.
  Just enter a city, you're looking for, and we'll take care of the rest

%p
  Our sources have weather info for most of the cities all over the world.
  So, even if you live in a small city, there's a good chance, we'll find a weather for you.

%p
  powered by "Master of code" - company, that gave me that cool test task