%h1 Sources
%p 
  All the info was provided to you by:
  %ul
    %li=link_to "openweathermap.org", "http://openweathermap.org"
    %li=link_to "worldweatheronline.com", "http://worldweatheronline.com/"
    %li=link_to "previmeteo.com", "http://previmeteo.com"